// FONT

*{
  font-family: $main-sans-serif;
}

.headline-primary{
  color: $headline-color;
  margin-left: 10px;
}

.headline-secondary{
  font-weight: $headline-font-weight;
  color: $headline-secondary-color;
}

.link{
  color: $link-color;
  font-weight: $link-font-weight;
}

.blockquote{
  font-size: $bq-font-size;
  font-weight: $bq-font-weight;
  font-style: $bq-font-style;
  margin-left: 20px;
  padding-left: 20px;
  border-left: 8px solid $bq-border-color;
  border-radius: 5px;
}
